$container-max-width:1280px;
$container-min-width:375px;
$very-dark-blue:#090B1A;
$Dark-desaturated-blue:#1B1938;
$Soft-violet:#AA5BDB;
$white:#fff;
$font-inter:'Inter', sans-serif;
$font-lexa-deca:'Lexend Deca', sans-serif;
$float-left:left;
$border-radius:15px;
$columns-width:50%/*50%*/;
$columns-right-padding:5%;
$columns-right-width:40%/*50%*/
$display-block:block;
$display-none:none;

body {
    background:$Dark-desaturated-blue;
}
.container {
    max-width:$container-max-width;
    min-width:$container-min-width;
    margin:0 auto;
    overflow:hidden;
}
.columns {
    float:$float-left;
    border-radius:$border-radius;
    width:$columns-width;
}
.columns img {
    width:100%;
}
.img-mobile {
    display:$display-none;
}
